<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workspace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SingleCustomer"></activity>
        <activity android:name=".SingleCustomerView" />
        <activity android:name=".ViewCustomerProject" />
        <activity android:name=".PlaceOrder" />
        <activity
            android:name=".CustomerActivity"
            android:label="@string/title_activity_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SinglePaintingActivity" />
        <activity android:name=".PaintingActivity" />
        <activity android:name=".SingleProjectPasting" />
        <activity android:name=".PastingActivity" />
        <activity android:name=".SingleProjectFrame" />
        <activity android:name=".FrameActivity" />
        <activity android:name=".SingleProjectPrinting" />
        <activity android:name=".PrintingActivity" />
        <activity android:name=".SingleProjectActivity" />
        <activity android:name=".AddProjectActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>